# encoding: utf-8
<style>

    /* This rule is read by Galleria to define the gallery height: */
    #galleria {
        height: 320px
    }

</style>



<p id="notice"><%= notice %></p>

<div class="service-left-column">
  <div class="service-gallery">
  </div>
  <div class="service-description">
    <h2><%= @service.name %></h2>

    <div class="left-column">
      <p>rating</p>

      <p>Capacity: 300</p>

      <p>Location</p>
    </div>
    <div class="right-column">
      <p>Tsh 1,800,000.00</p>
    </div>


    <div class="more-details">


    </div>

  </div>
  <div class="service-reviews">

  </div>

</div>
<div class="service-right-column">

</div>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>




