.more-details {
  ul {
    li {
      list-style: none;
      float: left;
      margin-right: 4px;

      a {
        font-weight: bold;
        display: inline-block;
        padding: 6px 12px;
        color: #888;
        outline: 0;
        text-decoration: none;

        background: #f3f3f3;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e4e4e4));
        background: -moz-linear-gradient(#eee, #e4e4e4);
        background: linear-gradient(#eee, #e4e4e4);
        -pie-background: linear-gradient(#eee, #e4e4e4);
      }
    }

    a.current {
      color: white;

      background: #666;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#888), to(#666));
      background: -moz-linear-gradient(#888, #666);
      background: linear-gradient(#888, #666);
      -pie-background: linear-gradient(#888, #666);
    }

    .controls {
      float: right;
    }
  }

}

.tabscontent {
  position: relative;
  clear: both;
  width: 100%;
  border-top: 1px solid lightgrey;
  padding-top: 10px;
}


div.controls {
  float: right;
}

div.controls a {
  margin-left: 5px;
}

