<p id="notice"><%= notice %></p>
<div class="main-left-column">
  <div class="profile-pics-wrapper">
    <div class="profile-pic-wrapper groom">
      <div class="profile-pic"><%= image_tag 'groom.jpg' %></div>
      <p>Groom name</p>
    </div>
    <div class="and">&</div>
    <div class="profile-pic-wrapper bride">
      <div class="profile-pic"><%= image_tag 'bride.jpg' %></div>
      <p>Bride name</p>
    </div>
    <div class="counter clear"><p><span class="days">8958</span>  days to go!</p></div>
</div>
</div>
<div class="main-right-column">

</div>