.counter {
  padding-top:10px;
  .days {
    font-size: 30px !important;
  }
}

.wedding-description-wrapper {
  padding: 20px;

  .add-image {
    width: 174px;
    height: 174px;
    background: #F7F7F7;
    border: 3px solid #BBBBBB;
    border-style: dashed;
    float: left;
    margin-right: 5px;
    cursor: pointer;
  }

}
