//@font-face {
//  font-family: 'GreatVibes.otf';
//  src: font-url('GreatVibes.otf');
//  src: font-url('GreatVibes.eot?#iefix') format('embedded-opentype')
//}

.image-slider {
  width: 100%;
  height: 700px;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;

  img {
    width: 100%;
  }
}

.home-section {
  height: 700px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;

  h1 {
    text-align: center;
    margin: 40px auto;
    width: 800px;
    line-height: 60px;
    //font-family: 'Edwardian Script ITC' !important;
    font-family: 'GreatVibes' !important;
    font-size: 4.0em;
    font-weight: normal;
    color: #68a697;
  }

  h2 {
    text-align: center;
    margin: 0px auto 50px auto !important;
    width: 600px;
    color: #68a697;
    line-height: 50px;
    //font-family: 'Edwardian Script ITC' !important;
    font: {
      family: GreatVibes;
      weight: normal;
      size: 3em;
    }
  }

  .bg-image {
    width: 100%;
  }
}

.white-bg {
  background-color: #ffffff;
}

.home-content-wrapper {
  width: 1200px;
  margin: 0 auto;

  .home-icon-contents {
    width: 380px;
    float: left;
    text-align: center;
    margin-right: 20px;

    img {
      margin: 0 auto;
    }
  }

  .home-image-wrapper {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    margin: 20px auto;
    background-color: lightcoral;
  }
}

.bannercontainer {
  width: 100%;
  position: relative;
  padding: 0;
}

.banner {
  width: 100%;
  position: relative;
}