// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-left-column {
  width: 780px;
  min-height: 900px;
  margin-right: 15px;
  float: left;
  background: #ffffff;
  //border: 1px solid #eaeaea;
  border-bottom-color: #fafafa;
  border-top: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -webkit-transition: margin .2s;

  .service-gallery {
    width: 100%;
    height: 450px;
    background: #EFEFEF;

    #gallery{
      height: 450px
    }
  }
  
  .service-description {
    padding: 15px;

    .left-column {
      float: left;
      width: 65%;
      line-height: 20px !important;
    }

    .right-column {
      float: right;
      width: 35%;
      text-align: right;

      p {
        padding-top: 50px;
        font-size: 1.2em;
        font-weight: bold;
      }
    }

    .more-details {
      clear: both;
      padding-top: 20px;
    }

    div.stars {
      /*width: 120px;*/
      display: inline-block;
    }
  }
}

.service-right-column {
  width: 390px;
  min-height: 900px;
  float: left;
  background: #ffffff;
  //border: 1px solid #eaeaea;
  border-bottom-color: #fafafa;
  border-top: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -webkit-transition: margin .2s;
}

