// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.popup-content {
  form {
    width: 400px;
    margin: 100px auto 0px auto;
    padding-top: 50px;

    .text-input-bg {
      input {
        width: 382px;
      }
    }

    .actions {
      input {
        width: 100%;
        margin-top: 10px;
        cursor: pointer;
        background: #f08080;
        color: #ffffff;
        border: 1px solid #C06666;
        outline: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
    }
  }
}