.counter {
  padding-top:10px;
  .days {
    font-size: 30px !important;
  }
}

.wedding-description-wrapper {
  padding: 20px;

  .add-image {
    width: 174px;
    height: 174px;
    background: #F7F7F7;
    border: 3px solid #BBBBBB;
    border-style: dashed;
    float: left;
    margin-right: 5px;
    cursor: pointer;
  }
}

.profile-pic-small {
  width: 110px;
  height: 110px;
  background: lightblue;
  display: block;
  /*float: left;*/
  border-radius: 55px;
  overflow: hidden;
}

.profile-pic-wrapper {
  p {
    text-align: center;
  }
}

.profile-pic-wrapper-small {
  height: 180px;
  overflow: hidden;
  position: relative;
  padding: 10px 10px 0 10px;

  img {
    width: 100%;
  }
}